*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Courier New, monospace;
    background:#111;
}

.fond{
    width:100%;
    height:100vh;

    background:
    linear-gradient(rgba(0,0,0,.55),rgba(0,0,0,.8)),
    url("image/dessin de con.png");

    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;
}

/* Ancien ordinateur */

.ordinateur{
    width:720px;
}

.ecran{
    position:relative;
    overflow:hidden;

    background:#23412a;
    border:22px solid #9a927e;
    border-radius:20px;

    padding:35px;

    box-shadow:
        0 0 40px #000,
        inset 0 0 40px rgba(0,255,0,.15);
}

/* Effet vieux moniteur */

.ecran::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;

    background:repeating-linear-gradient(
        transparent 0px,
        rgba(255,255,255,.03) 2px,
        transparent 4px
    );

    pointer-events:none;
}

.ecran h2{
    text-align:center;
    color:#6cff6c;
    letter-spacing:3px;
    margin-bottom:15px;
}

.ecran h1{
    text-align:center;
    color:#90ff90;
    font-size:50px;
    text-shadow:0 0 12px #00ff66;
    margin-bottom:15px;
}

.ecran h3{
    text-align:center;
    color:#b8ffb8;
    margin-bottom:25px;
}

.ecran p{
    color:#b8ffb8;
    font-size:20px;
    line-height:1.7;
    margin-bottom:20px;
}

.ligne{
    border-top:2px solid #56ff56;
    margin:25px 0;
}

/* Bouton */

.bouton-aventure{

    display:block;
    margin:35px auto 10px;

    padding:15px 40px;

    background:#143514;
    color:#7CFF7C;

    border:2px solid #7CFF7C;
    border-radius:8px;

    font-family:Courier New, monospace;
    font-size:22px;
    font-weight:bold;

    cursor:pointer;

    transition:0.3s;

    box-shadow:0 0 15px rgba(0,255,0,.5);

    animation:clignote 1.2s infinite;
}

.bouton-aventure:hover{

    background:#7CFF7C;
    color:#173117;

    transform:scale(1.05);

    box-shadow:0 0 25px #7CFF7C;
}

.bouton-aventure:active{

    transform:scale(0.97);
}

@keyframes clignote{

    50%{
        opacity:.6;
    }

}

/* Socle de l'ordinateur */

.socle{
    width:220px;
    height:45px;

    background:#9a927e;

    margin:auto;

    border-radius:0 0 20px 20px;
}
